* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}
.wrapp__character {
  margin-top: 4rem;
}
.wrapp__eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

/* -=-=-=-=-= Eyes Character =-=-=-=-=- */
.eye {
  background: #fff;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.eye#doraemon {
  width: 145px;
  height: 175px;
  margin: -4px;
  bottom: 136px;
  border: 4px solid #000;
}
.eye#nobita {
  width: 120px;
  height: 136px;
  margin: -3px;
  left: 11px;
  bottom: 12px;
  border: 2px solid #000;
}
.eye#minion {
  width: 172px;
  height: 180px;
  margin: 12px;
  left: -17px;
  bottom: 7px;
  border: 2px solid #7e838b;
}
.eye#mrbean {
  width: 116px;
  height: 119px;
  margin: 33px;
  left: -10px;
  bottom: 2px;
  border: 5px solid #000;
}
.eye#jerry1 {
  width: 60px;
  height: 103px;
  left: -32px;
  bottom: 36px;
  border: 4px solid #000;
  transform: rotate(350deg);
}
.eye#jerry2 {
  width: 60px;
  height: 98px;
  left: 2px;
  bottom: 38px;
  border: 4px solid #000;
  transform: rotate(10deg);
}
.eye#tom1 {
  width: 50px;
  height: 122px;
  left: -15px;
  bottom: 27px;
  border: 0px solid #000;
  background-color: #ffff99;
  transform: rotate(355deg);
}
.eye#tom2 {
  width: 51px;
  height: 122px;
  left: 16px;
  bottom: 25px;
  background: #ffff99;
  border: 0px solid #000;
  transform: rotate(7deg);
}
.eye#pikachu1 {
  width: 66px;
  height: 78px;
  left: -69px;
  bottom: -79px;
  transform: rotate(10deg);
  background: #000;
}
.eye#pikachu2 {
  width: 67px;
  height: 76px;
  left: 66px;
  bottom: -80px;
  background: #000;
  transform: rotate(354deg);
}
.eye#panther {
  width: 83px;
  height: 80px;
  margin: 25px;
  left: 4px;
  bottom: 85px;
  background: #faee33;
}

/* -=-=-=-=-= EyesBall Character =-=-=-=-=- */
.eye__ball {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.eye__ball#balldoraemon {
  width: 35px;
  height: 35px;
  border: 13px solid #333;
}
.eye__ball#ballnobita {
  width: 28px;
  height: 35px;
  border: 11px solid #333;
}
.eye__ball#ballminion {
  width: 55px;
  height: 60px;
  border: 20px solid #333;
}
.eye__ball#ballmrbean {
  width: 30px;
  height: 31px;
  border: 18px solid #333;
}
.eye__ball#balljerry {
  width: 10px;
  height: 35px;
  border: 12px solid #333;
}
.eye__ball#balljerry::before {
  content: "";
  position: absolute;
  background: #fff;
  width: 6px;
  height: 7px;
  top: -8px;
  left: -3px;
  border-radius: 50%;
}
.eye__ball#balltom {
  width: 25px;
  height: 60px;
  border: 1px solid #000;
  background: #bfff02;
}
.eye__ball#balltom::before {
  content: "";
  position: absolute;
  background: #000;
  width: 15px;
  height: 25px;
  top: 17px;
  left: 4px;
  border-radius: 50%;
}
.eye__ball#ballpikachu {
  width: 25px;
  height: 25px;
}
.eye__ball#ballpanther {
  width: 30px;
  height: 30px;
  background: #000;
}

/* Doraemon */
.character {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.character img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Lists Character */
.wrapp__container h1 {
  text-align: center;
  font-size: 60px;
  color: darkcyan;
  margin-top: 2rem;
}
.lists__character {
  margin: 4rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}

.lists__character--item {
  border: 1px solid lightgray;
  border-radius: 20px;
  text-align: center;
}

.character--content {
  margin-bottom: 1rem;
}
.character--img {
  position: relative;
  width: 250px;
  height: 200px;
  transition: transform 0.3s ease-out;
}
.character--img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px #ffd700);
}
.character--img img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.character--img #nobita {
  position: absolute;
  width: 55%;
  height: 88%;
  bottom: 8%;
  right: 20%;
}
.character--img #minion {
  position: absolute;
  width: 70%;
  height: 70%;
  bottom: 5%;
  right: 12%;
}
.character--img #tom {
  position: absolute;
  width: 47%;
  height: 80%;
  bottom: 5%;
  right: 24%;
}
.character--img #jerry {
  position: absolute;
  width: 45%;
  height: 70%;
  bottom: 8%;
  right: 25%;
}
.character--img #bean {
  position: absolute;
  width: 50%;
  height: 80%;
  bottom: 7%;
  right: 22%;
}
.character--img #pikachu {
  position: absolute;
  width: 48%;
  height: 75%;
  bottom: 8%;
  right: 21%;
}
.character--img #panther {
  position: absolute;
  width: 55%;
  height: 80%;
  bottom: 8%;
  right: 20%;
}
@media only screen and (min-width: 360px) and (max-width: 767px) {
  .wrapp__character {
    margin-top: 10rem;
  }
  .lists__character {
    justify-content: center;
  }
  .character {
    width: 75%;
  }
  .character#characternobita {
    width: 100%;
  }
  .character#charactermrbean {
    width: 90%;
  }
  .character#characterjerry {
    width: 100%;
  }
  .character#charactertom {
    width: 100%;
  }
  .character#characterpikachu {
    width: 100%;
  }
  .character#characterpanther {
    width: 100%;
  }

  /* ==== Eyes Head Detail ==== */
  .eye#doraemon {
    width: 65px;
    height: 77px;
    bottom: 59px;
    border: 3px solid #000;
    margin: -2px;
  }
  .eye#nobita {
    width: 71px;
    height: 80px;
    left: 7px;
    bottom: 8px;
  }
  .eye#minion {
    width: 77px;
    height: 78px;
    left: -7px;
    bottom: 2px;
    margin: 2px;
  }
  .eye#mrbean {
    width: 62px;
    height: 61px;
    left: -5px;
    bottom: 0px;
    margin: 17px;
    border: 3px solid #000;
  }
  .eye#jerry1 {
    width: 32px;
    height: 60px;
    left: -20px;
    bottom: 20px;
    border: 3px solid #000;
  }
  .eye#jerry2 {
    width: 32px;
    height: 58px;
    left: 2px;
    bottom: 20px;
    border: 3px solid #000;
  }
  .eye#tom1 {
    width: 31px;
    height: 71px;
    left: -9px;
    bottom: 16px;
    transform: rotate(354deg);
  }
  .eye#tom2 {
    width: 29px;
    height: 71px;
    left: 8px;
    bottom: 16px;
    transform: rotate(11deg);
  }
  .eye#pikachu1 {
    width: 41px;
    height: 45px;
    left: -39px;
    bottom: -47px;
  }
  .eye#pikachu2 {
    width: 41px;
    height: 45px;
    left: 37px;
    bottom: -47px;
  }
  .eye#panther {
    width: 45px;
    height: 46px;
    margin: 16px;
    left: 3px;
    bottom: 50px;
  }

  /* ==== Eyes Ball Character ==== */
  .eye__ball {
    width: 16px;
    height: 16px;
    border: 6px solid #333;
  }
  .eye__ball#balldoraemon {
    width: 17px;
    height: 17px;
    border: 7px solid #333;
  }
  .eye__ball#ballnobita {
    width: 16px;
    height: 24px;
    border: 7px solid #333;
  }
  .eye__ball#ballminion {
    width: 24px;
    height: 27px;
    border: 8px solid #333;
  }
  .eye__ball#ballmrbean {
    width: 15px;
    height: 15px;
    border: 8px solid #333;
  }
  .eye__ball#balljerry {
    width: 10px;
    height: 25px;
    border: 8px solid #333;
  }
  .eye__ball#balltom {
    width: 15px;
    height: 35px;
  }
  .eye__ball#balltom::before {
    width: 7px;
    height: 15px;
    top: 9px;
    left: 3px;
  }
  .eye__ball#ballpikachu {
    width: 15px;
    height: 15px;
    border: 0;
  }
  .eye__ball#ballpanther {
    width: 20px;
    height: 20px;
    border: 0;
  }
}

@media only screen and (min-width: 390px) and (max-width: 844px) {
  .eye {
    bottom: 65px;
    width: 68px;
    height: 85px;
  }
}
