* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}
.wrapp__character {
  margin-top: 4rem;
}
.wrapp__eyes {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

/* -=-=-=-=-= Eyes Character =-=-=-=-=- */
.eye#doraemon {
  width: 145px;
  height: 175px;
  background: #fff;
  display: inline-block;
  margin: -4px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  bottom: 136px;
  border: 4px solid #000;
}
.eye#nobita {
  width: 120px;
  height: 136px;
  background: #fff;
  display: inline-block;
  margin: -3px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  left: 11px;
  bottom: 12px;
  border: 2px solid #000;
}
.eye#minion {
  width: 172px;
  height: 180px;
  background: #fff;
  display: inline-block;
  margin: 12px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  left: -17px;
  bottom: 7px;
  border: 2px solid #7e838b;
}

/* -=-=-=-=-= EyesBall Character =-=-=-=-=- */
.eye__ball {
  width: 40px;
  height: 40px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid #333;
}
.eye__ball#ballnobita {
  width: 28px;
  height: 35px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 11px solid #333;
}
.eye__ball#ballminion {
  width: 55px;
  height: 60px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 20px solid #333;
}

/* Doraemon */
.character {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.character img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Lists Character */
.wrapp__container h1 {
  text-align: center;
  font-size: 60px;
  color: darkcyan;
  margin-top: 2rem;
}
.lists__character {
  margin: 4rem 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4rem;
}

.lists__character--item {
  border: 1px solid lightgray;
  border-radius: 20px;
  text-align: center;
}

.character--content {
  margin-bottom: 1rem;
}
.character--img {
  position: relative;
  width: 250px;
  height: 200px;
  transition: transform 0.3s ease-out;
}
.character--img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 8px #ffd700);
}
.character--img img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.character--img #nobita {
  position: absolute;
  width: 55%;
  height: 88%;
  bottom: 8%;
  right: 20%;
}
.character--img #minion {
  position: absolute;
  width: 70%;
  height: 70%;
  bottom: 5%;
  right: 12%;
}
.character--img #tom {
  position: absolute;
  width: 47%;
  height: 80%;
  bottom: 5%;
  right: 24%;
}
.character--img #jerry {
  position: absolute;
  width: 45%;
  height: 70%;
  bottom: 8%;
  right: 25%;
}
.character--img #bean {
  position: absolute;
  width: 50%;
  height: 80%;
  bottom: 7%;
  right: 22%;
}
.character--img #pikachu {
  position: absolute;
  width: 48%;
  height: 75%;
  bottom: 8%;
  right: 21%;
}
.character--img #panther {
  position: absolute;
  width: 55%;
  height: 80%;
  bottom: 8%;
  right: 20%;
}
@media only screen and (min-width: 360px) and (max-width: 767px) {
  .wrapp__character {
    margin-top: 10rem;
  }
  .lists__character {
    justify-content: center;
  }
  .character {
    width: 75%;
  }
  .character#characternobita {
    width: 100%;
  }
  .eye {
    width: 65px;
    height: 77px;
    bottom: 59px;
    border: 3px solid #000;
    margin: -2px;
  }
  .eye#nobita {
    width: 71px;
    height: 80px;
    left: 7px;
    bottom: 8px;
  }
  .eye#minion {
    width: 77px;
    height: 78px;
    left: -7px;
    bottom: 2px;
    margin: 2px;
  }
  .eye__ball {
    width: 16px;
    height: 16px;
    border: 6px solid #333;
  }
  .eye__ball#ballnobita {
    width: 16px;
    height: 24px;
    border: 7px solid #333;
  }
  .eye__ball#ballminion {
    width: 24px;
    height: 27px;
    border: 8px solid #333;
  }
}

@media only screen and (min-width: 390px) and (max-width: 844px) {
  .eye {
    bottom: 65px;
    width: 68px;
    height: 85px;
  }
}
